<CodeSnippet Format="1.0.0">
  <Header>
    <Title>cr</Title>
    <Shortcut>cr</Shortcut>
    <Description>Snippet for Console.ReadLine()</Description>
    <Author>YourName</Author>
  </Header>
  <Snippet>
    <Code Language="CSharp">
      <![CDATA[
        Console.ReadLine();
      ]]>
    </Code>
  </Snippet>
</CodeSnippet>
